:root {
    --btn-color-3: #fff6f0;
    --btn-color-2: #ffd793;
    --btn-color-1: #ffd4d4;
    --btn-color-4: #ef476f;
    --panel-color-1: #fff6f0;
    --text-color-1: #362423;
    --bg-color-1: #fff6f0;
    --bg-color-2: #a3e3e2;

    --header-height: 64px;
}

.kumbh-sans-font {
    font-family: "Kumbh Sans", sans-serif;
    font-optical-sizing: auto;
    font-weight: normal;
    font-style: normal;
    font-variation-settings: "YOPQ" 300;
}

body {
    background-color: var(--bg-color-1);
    /* background: url("img/bg_tiled_01.png"); */
    background-size: 200px;
    font-family: "Kumbh Sans";
    animation: background-scroll 45s infinite linear;
    color: var(--text-color-1);
    margin: 0;
}

.app {
    padding: 32px;
    padding-top: 16px !important;
}

.header-image {
    width: 100%;
}

.btn {
    all: unset;
    background-color: var(--btn-color-1);
    border: 2px solid white;
    width: fit-content;
    padding: 16px 20px;
    border-radius: 6px;
    cursor: pointer;
    font-weight: bold;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    gap: 8px;
    position: relative;
}

.btn>img {
    width: 20px;
}

.btn .big-img {
    width: 60px;
    position: absolute;
    right: -10px;
    z-index: 2;
}

.btn:hover,
.btn:active {
    background-color: color-mix(in srgb, var(--btn-color-1) 50%, white);
    border-color: color-mix(in srgb, var(--btn-color-1) 50%, white);
}

.btn.primary {
    background-color: var(--btn-color-2);
    border-color: white;
    padding: 24px 20px;
}

.btn.primary:hover {
    background-color: color-mix(in srgb, var(--btn-color-2) 50%, white);
    border-color: color-mix(in srgb, var(--btn-color-2) 50%, white);
}

.btn.bold {
    background-color: var(--btn-color-4);
    color: white;
}

.btn.bold:hover {
    background-color: color-mix(in srgb, var(--btn-color-4) 90%, black);
}

.btn:disabled {
    background: darkgray;
    color: rgb(109, 109, 109);
    border-color: darkgray;
    pointer-events: none;
}

@keyframes background-scroll {
    to {
        background-position: 100px;
    }
}

.top-gradient {
    width: 100%;
    height: 300px;
    position: absolute;
    left: 0;
    top: 0;
    z-index: -2;
    background: linear-gradient(0deg, transparent, #f1b1c1);
}

.w-initial {
    width: initial;
}

h2 {
    margin: 0;
}

.logo {
    width: 340px;
}

.logo-container {
    width: 100%;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    margin-top: 20px;
    margin-bottom: 30px;
}

.content {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    gap: 20px;
    justify-content: space-between;
}

.container {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.left-container {
    width: 65%;
    /* max-width: 700px; */
}

.right-container {
    width: 35%;
    position: sticky;
    top: calc(var(--header-height) + 24px);
}

.panel {
    background: white;
    padding: 20px;
    border-radius: 20px;
    border: 2px solid color-mix(in srgb, var(--bg-color-1) 95%, black);
    /* box-shadow: 0px 3px 10px 0px #0000001c; */
}

.panel>ul {
    display: flex;
    flex-direction: column;
    gap: 8px;
}

.links-container {
    display: flex;
    flex-direction: column;
    gap: 6px;
}

.backdrop-img-1 {
    position: absolute;
    left: -18%;
    top: -28%;
    z-index: -1;
    opacity: 0.5;
}

h3 {
    margin-top: 0;
    display: flex;
    align-items: center;
    gap: 8px;
}

.screenshots-container {
    display: flex;
    overflow: hidden;
}

.screenshots-container img {
    width: 96px;
}

.carousel {
    display: flex;
    animation: scrolling 30s infinite alternate linear;
    gap: 20px;
}

@keyframes scrolling {
    0% {
        transform: translateX(0);
    }

    100% {
        transform: translateX(-50%);
    }
}

.platforms-container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 4px;
    align-items: flex-start;
}

.platform-badge {
    display: flex;
    gap: 16px;
    border: 1px solid;
    width: fit-content;
    padding: 5px 10px;
    border-radius: 6px;
    flex-grow: 1;
    justify-content: center;
    align-items: center;
}

/* discord widget */
.widgetHeader-1cAbIw {
    background: #6d3396;
}

/* title */
.title-solid {
    background-color: var(--bg-color-2);
    text-align: center;
    padding: 10px;
    margin-bottom: 20px;
    border-radius: 20px;
    font-weight: bold;
    border: 2px solid white;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 8px;
}

/* posts */
.postContainer {
    width: fit-content;
    background: white;
    border-radius: 16px;
    border: 1px solid;
    overflow: hidden;
    flex-shrink: 0;
    cursor: pointer;
    transition: transform 0.25s;
    background: #ffffff;
}

.postContainer:hover {
    transform: translateY(-8px);
}

.postContainer__imageContainer>img {
    max-height: 128px;
    min-width: 256px;
    object-fit: cover;
    border-bottom: 1px solid;
    width: 100%;
    /* image-rendering: pixelated; */
}

.postContainer__infoContainer {
    padding: 16px;
    display: flex;
    flex-direction: row;
    gap: 4px;
    align-items: flex-end;
    justify-content: space-between;
}

.postContainer__infoContainer__subTitle {
    font-size: x-small;
}

.postContainer__infoContainer__title {
    font-weight: bold;
}

.postContainer__infoContainer__type {
    background: color-mix(in srgb, currentColor 15%, transparent);
    font-size: x-small;
    padding: 4px 8px;
    border-radius: 10px;
}

.posts,
.scrollable-container {
    display: flex;
    gap: 8px;
    overflow: auto;
    padding: 16px 20px;
    margin: -20px;
}

.overflow-hidden {
    overflow: hidden;
}

/* bottom house design */
.bottom-design {
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    display: flex;
    flex-direction: row-reverse;
    align-items: flex-end;
    background-image: url(img/repeating_fence_01.png);
}

/* footer */
.footer {
    margin-top: 40px;
    font-size: small;
    display: flex;
    align-items: flex-end;
    gap: 20px;
}

.footer img {
    display: none;
}

.footer:hover img {
    display: block;
}

/* input code */
.input-code {
    width: fit-content;
    padding: 10px 20px;
    display: flex;
    /* background-color: white; */
    flex-direction: row;
    gap: 40px;
    box-shadow: 1px 1px black;
    background: var(--text-color-1);
}

.input-code__icon {
    width: 40px;
    object-fit: contain;
    font-size: xx-large;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    transform: scale(1.4);
}

.input-code__info {
    display: flex;
    flex-direction: column;
    gap: 4px;
}

.input-code label {
    font-size: small;
    color: white;
}

.input-code b {
    background: #ffffff;
    width: fit-content;
    border: 2px dashed;
    padding: 2px 8px;
}

.input-code {
    -webkit-mask-image: radial-gradient(circle at 80px 20px,
            transparent 10px,
            red 10.5px);
    -webkit-mask-size: 100%, 5px 44px;
    -webkit-mask-repeat: repeat, repeat-y;
    -webkit-mask-position: 0 -20px, 137.5px;
    -webkit-mask-composite: source-out;
    mask-composite: subtract;
}

/* generic */
.hidden {
    display: none;
}

.margin-none {
    margin: 0;
}

/* flex */
.flex {
    display: flex;
}

.flex-container-col {
    flex-direction: column;
}

.flex-container-row {
    flex-direction: row;
}

.flex-center {
    justify-content: center;
    align-items: center;
}

.gap-05 {
    gap: 3px;
}

.gap-1 {
    gap: 6px;
}

.gap-2 {
    gap: 12px;
}

/* form-control */
.form-control {
    display: flex;
    flex-direction: column;
    gap: 8px;
}

.form-control>input,
.form-control>textarea {
    all: unset;
    border: 1px solid;
    border-color: color-mix(in srgb, currentColor 25%, transparent);
    background: rgba(255, 255, 255, 0.5);
    padding: 12px 12px;
    border-radius: 24px;
}

.form-control>input:focus,
.form-control>textarea:focus {
    /* border-bottom:2px solid black; */
    outline: 1px solid;
    background: rgba(255, 255, 255);
}

.form-control>small {
    font-size: x-small;
    margin-top: -8px;
}

.badge {
    color: color-mix(in srgb, var(--btn-color-3) 100%, black);
    position: absolute;
    top: -4px;
    right: -12px;
    background: color-mix(in srgb, currentColor 20%, transparent);
    padding: 2px 10px;
    border-radius: 50px;
    backdrop-filter: blur(12px);
    text-shadow: 0px 0px 4px rgba(0, 0, 0, 0.338);
    border: 2px solid white;
}

nav {
    position: sticky;
    left: 0;
    top: 0;
    z-index: 100;
    height: var(--header-height);
    background: var(--bg-color-1);
    width: 100%;
    display: flex;
    align-items: center;
    padding: 0 36px;
    box-sizing: border-box;
    gap: 24px;
    font-size: small;
    border-bottom: 2px solid white;
}

nav .header-logo {
    width: 148px;
    margin-top: 2px;
    border: none !important;
}

nav .btn {
    padding: 10px 20px !important;
    border-radius: 24px;
}

/* Basic Styling */
nav ul {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    align-items: center;
    gap: 12px;
}

nav ul a {
    display: block;
    text-decoration: none;
    padding: 8px 8px;
    border-bottom: 2px solid transparent;
    color: var(--text-color-1);
    display: inline-flex;
    align-items: center;
    gap: 6px;
}

nav a:hover {
    border-bottom-color: currentColor;
}

/* Example of responsiveness */
@media (max-width: 768px) {
    .app {
        padding: 10px;
    }

    .header-image {
        display: none;
    }

    .backdrop-img-1 {
        display: none;
    }

    .content {
        flex-direction: column-reverse;
        gap: 20px;
    }

    .left-container {
        width: 100%;
    }

    .right-container {
        width: 100%;
    }

    #discord-widget {
        pointer-events: none;
    }

    .right-container {
        position: static;
    }

    nav {
        flex-direction: column;
    }

    nav .play-btn {
        display: none;
    }

    nav ul {
        display: none;
        flex-direction: column;
    }
}